@font-face {
  font-family: "iconfont"; /* Project id 4785075 */
  src: url('iconfont.woff2?t=1734436968555') format('woff2'),
       url('iconfont.woff?t=1734436968555') format('woff'),
       url('iconfont.ttf?t=1734436968555') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhedie2:before {
  content: "\e620";
}

.icon-zhedie1:before {
  content: "\e621";
}

.icon-houtaiguanli:before {
  content: "\e673";
}

.icon-xitongguanli:before {
  content: "\e60a";
}

.icon-houtaiguanli-houtaiguanli:before {
  content: "\e636";
}

.icon-wode:before {
  content: "\e601";
}

.icon-a-xiaoxi2:before {
  content: "\e602";
}

.icon-a-xiaoxi3:before {
  content: "\e603";
}

.icon-xiaoxi:before {
  content: "\e604";
}

.icon-youxi:before {
  content: "\e605";
}

.icon-yunshangchuan:before {
  content: "\e606";
}

.icon-yunxiazai:before {
  content: "\e607";
}

.icon-zhuye:before {
  content: "\e608";
}

.icon-PC:before {
  content: "\e609";
}

.icon-aixin:before {
  content: "\e60b";
}

.icon-faxian:before {
  content: "\e60c";
}

.icon-geren:before {
  content: "\e60d";
}

.icon-a-shezhi2:before {
  content: "\e60e";
}

.icon-shezhi:before {
  content: "\e60f";
}

.icon-shoucang:before {
  content: "\e610";
}

.icon-shouji:before {
  content: "\e611";
}

.icon-sousuo:before {
  content: "\e612";
}

.icon-tianjia:before {
  content: "\e613";
}

.icon-tongxunlu:before {
  content: "\e614";
}

.icon-wenjian:before {
  content: "\e615";
}

